<div class="wrapper">
  <div class=jumbo>
    <%= image_tag("piggybank-blue.jpeg", class: "jumbotron-img") %>

  </div>
  <div class="welcome-message">
    <h2><b>Take control of your financial future today!</b></h2>
  </div>
  <div class="login-buttons">
    <a class="btn btn-primary btn-lg login-btn" href="/login" role="button">Log In</a>
    <a class="btn btn-primary btn-lg signup-btn" href="/users/new" role="button">Sign Up</a>
  </div>
  <div class="homepage-section first-section">
    <!-- <div class="col-sm-1"></div> -->
    <div class="section-img col-sm-6"><%= image_tag("trans-chart.png", class: "chart-icon") %></div>
    <div class="section-text col-sm-6 align-middle">
      <h2>Finance Manager</h2>
      <p> Consistently keep track of all your personal finances including assets, debts, incomes, expenses and transfers</p>
    </div>
    <!-- <div class="col-sm-1"></div> -->
  </div>

  <div class="homepage-section">
    <!-- <div class="col-sm-1"></div> -->
    <div class="section-text col-sm-6 align-middle">
      <h2>Forecast Calculator</h2>
      <p>Calculate your estimated net worth at any time in the future based on your current financial habits</p>
    </div>
    <div class="section-img col-sm-6"><%= image_tag("calculator_T.png", class: "calculator-icon") %></div>
    <!-- <div class="col-sm-1"></div> -->
  </div>
<!-- </div> -->

  <div class="homepage-section">
    <!-- <div class="col-sm-1"></div> -->
    <div class="section-img col-sm-6"><%= image_tag("calendar-icon.png", class: "calendar-icon") %></div>
    <div class="section-text col-sm-6 align-middle">
      <h2>Event Calendar</h2>
      <p>Receive notifications if you are if you are not generating enough capital to continue paying  expenses, or if you hit major financial landmarks</p>
    </div>
    <!-- <div class="col-sm-1"></div> -->
  </div>

  <div class="homepage-section last-section">
    <!-- <div class="col-sm-1"></div> -->
    <div class="section-text col-sm-6 align-middle">
      <h2>Auto Pilot</h2>
      <p>Watch your debts and assets update automatically based on your current spending and investment activity</p>
    </div>
    <div class="section-img col-sm-6"><%= image_tag("plane-icon-7.png", class: "plane-icon") %></div>
    <!-- <div class="col-sm-1"></div> -->
  </div>

</div>