<%= render partial: 'forms/form_header', locals: {form_title: "Login", corner_link_path: "/users/new", corner_link_text: "Sign Up"} %>
  <%= form_tag login_path, html: {class: "form-horizontal", role: "form", id: "loginform"} do %>

    <p class="form-category">Sign In</p>

    <div class="form-group">
      <%= label :session, :email, class: "col-md-3 control-label" %>
      <div class="col-md-9 form-input">
        <%= text_field_tag 'session[email]', nil, class: 'form-control', placeholder: "Email" %>
      </div>
    </div>

    <div class="form-group">
      <%= label :session, :password, class: "col-md-3 control-label" %>
      <div class="col-md-9 form-input">
        <%= password_field_tag 'session[password]', nil, class: "form-control", placeholder: "Password" %>
      </div>
    </div>

    <div class="col-md-offset-4 col-md-4">
      <%= submit_tag "Login", id: "btn-login", class: "btn btn-info" %>
    </div>

  <% end %>
<%= render 'forms/form_footer' %>