<div class="form-group">
  <%= form_object.label "#{expense_type}[amount]", question, class: "control-label" %>
  <br>
  <%= form_object.number_field "#{expense_type}[amount]", placeholder: "Amount (USD)", step: '0.01', value: (form_object.object.send(expense_type)[:amount].blank? ? nil : ('%.2f' % form_object.object.send(expense_type)[:amount].to_i)) %>
  <label for="<%= "special_asset_steps_step5_#{@type_category.downcase}_#{expense_type}[paid_using]" %>">
    <%= expense_type == :income ? "deposited into" : "paid using" %>:
  </label>
  <%= select(:"special_asset_steps_step5_#{@type_category.downcase}", "#{expense_type}[paid_using]", options_for_select(@asset_selections, selected: form_object.object.send(expense_type)[:paid_using].to_i), include_blank: "Select Asset") %>
</div>