<%= render 'resources/assets/form_header' %>
<%= render partial: 'forms/form_header', locals: {form_title: "New Asset"} %>

<%= form_tag process_step_five_path do %>

  <p class="form-category">Related Expenses</p>

  <%= render partial: "shared/form_step_five_block", locals: {param_key: "gasoline", instance_var: @gasoline, question: "How much do you typically spend on gas for this vehicle in a week?"} %>

  <%= render partial: "shared/form_step_five_block", locals: {param_key: "insurance", instance_var: @car_insurance, question: "How much do you pay for car insurance on this vehicle anually?"} %>

  <%= render partial: "shared/form_step_five_block", locals: {param_key: "vehicle_maintenance", instance_var: @vehicle_maintenance, question: "How much do you typically spend on maintenance and repairs for this vehicle in a year?"} %>

  <%= render partial: "shared/form_step_five_block", locals: {param_key: "miscellaneous", instance_var: @miscellaneous, question: "How much do you typically spend on miscellaneous expenses for this vehicle in a year?"} %>
  
  <%= render partial: "shared/form_submit", locals: {button_text: "Submit Form"} %>
  
<% end %>

<%= render 'forms/form_footer' %>