<%= render partial: 'forms/form_header', locals: {form_title: "New Asset"} %>

<%= form_for @page_resource, url: process_special_asset_step_5_path do |f| %>
  <p class="form-category">Associated Expenses</p>
  
  <% @expenses.each do |expense| %>

    <%= render partial: "resources/assets/special_assets/step_5_block", locals: {expense_type: expense, question: @questions[expense], form_object: f} %>
  
  <% end %>

  <%= render partial: "forms/form_submit", locals: {button_text: "Submit Form"} %>
  

<% end %>

<%= render 'forms/form_footer' %>



<%# form_tag process_step_five_path do %>

  <!-- <p class="form-category">Related Expenses</p> -->
  
  <%# if session[:income_property] == "true" %>
    <%# render partial: "forms/form_step_five_block", locals: {param_key: "property_income", instance_var: @property_income, question: "How much revenue does this property generate in a month?"} %>
  <%# end %>

  <%# render partial: "forms/form_step_five_block", locals: {param_key: "home_owners_insurance", instance_var: @home_owners_insurance, question: "How much do you pay for for home owner's insurance on this property anually?"} %>

  <%# render partial: "forms/form_step_five_block", locals: {param_key: "property_tax", instance_var: @property_tax, question: "How much do you pay in taxes on this property anually?"} %>

  <%# render partial: "forms/form_step_five_block", locals: {param_key: "utilities", instance_var: @utilities, question: "How much do you typically spend on utilities for this property in a month? (heat, electricity, water, phone, etc.)"} %>

  <%# render partial: "forms/form_step_five_block", locals: {param_key: "property_maintenance", instance_var: @property_maintenance, question: "How much do you typically spend on maintenance and repairs for this proprty in a year?"} %>
  
  <%# render partial: "forms/form_submit", locals: {button_text: "Submit Form"} %>
  
<%# end %>