<%= render partial: 'forms/form_header', locals: {form_title: "New Asset"} %>
<%= form_for @page_resource, url: process_special_asset_step_4_path do |f| %>
  <p class="form-category">Appreciation</p>
  <div class="form-group">
    <% if @type_category == "Vehicle" %>
      <label class="col-md-3 control-label">Would you like to take into account that vehicles depreciate in value at an average rate of 15% anually?</label>
    <% elsif @type_category == "Property" %>
      <label class="col-md-3 control-label">Would you like to take into account that real estate <%= "in #{@state_name}" if !@na %> appreciates at a historical average of <%= @rate %>% anually?</label>
    <% end %>
    <div class="col-md-9">
      <table>
        <tr>
          <td><label value="yes" for="average_rate_yes">Yes</label></td>
          <td><input type="radio" name="special_asset_steps_step4[average_rate]" id="average_rate_yes" value="yes"></td>
        </tr>
        <tr>
          <td><label value="no" for="average_rate_no">No</label></td>
          <td><input type="radio" name="special_asset_steps_step4[average_rate]" id="average_rate_no" value="no"></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label">Or, enter custom rate of <%= @type_category == "Vehicle" ? "depreciation" : "appreciation" %></label>
    <div class="col-md-9">
      <%= f.number_field :custom_rate, value: nil, placeholder: "Custom Rate (%)", step: :any %>
    </div>
  </div>
  
  <%= render partial: "forms/form_submit", locals: {button_text: "Next"} %>

<% end %>

<%= render 'forms/form_footer' %>