<%= render 'resources/assets/form_header' %>
<%= form_for @expense, url: process_step_three_path do |f| %>
  <b><%= @loan_name.gsub(" Loan", "").to_title %> Payment Details</b>
  <br>
  <%= f.label :amount, "Amount:" %>
  <%= form_amount(f) %>
  <br>
  <%= f.label :frequency, "Frequency:" %>
  <%= form_frequency(f) %>
  <br>
  <%= f.label :associated_asset_id, "Pay Using:" %>
  <%= form_select_primary_asset(f, current_user) %>
  <br>
  <%= f.label :next_date, "Next Billing Date:" %>
  <%= form_next_date(f) %>
  <br>
  <%= f.label :end_date, "End Date:" %>
  <%= form_end_date(f) %>
  <br>
  <%= f.submit "Next" %>
<% end %>
<p><%= link_to "Back", step_two_path %></p>