<%= form_for @user do |f| %>

  <%= render 'resources/errors', object: @user %>

  <p class="form-category">Create New Account</p>

  <%= render partial: "forms/form_section", locals: {col: true, form_object: f, label_for: :first_name, label_name: "First Name", form_method: form_user_name(f, :first)} %>

  <%= render partial: "forms/form_section", locals: {col: true, form_object: f, label_for: :last_name, label_name: "Last Name", form_method: form_user_name(f, :last)} %>

  <%= render partial: "forms/form_section", locals: {col: true, form_object: f, label_for: :email, label_name: "Email", form_method: form_email(f)} %>

  <%= render partial: "forms/form_section", locals: {col: true, form_object: f, label_for: :birthday, label_name: "Birthday", form_method: form_birthday(f)} %>

  <%= render partial: "forms/form_section", locals: {col: true, form_object: f, label_for: :password, label_name: "Password", form_method: form_password(f)} %>

  <%= render partial: "forms/form_section", locals: {col: true, form_object: f, label_for: :password_confirmation, label_name: "Confirm Password", form_method: form_password_confirmation(f)} %>

  <%= render partial: "forms/form_submit", locals: {button_text: yield(:button)} %>                                      
<% end %>

<%= render partial: 'forms/form_footer', locals: {remove_bottom_link: true} %>
    