<h1><%= @user %></h1>
<h3><%= @user.username %></h3>
<h4>Assets</h4>
<p><%= link_to "Incomes", incomes_path %></p>
<p><%= link_to "Assets", assets_path %></p>
<p><%= link_to "Credits", credits_path %></p>
<h4>Liabilities</h4>
<p><%= link_to "Debt", debts_path %></p>
<p><%= link_to "Expenses", expenses_path %></p>
<h4>Net Worth</h4>
<p>Liquid Net Worth: <%= net_worth(@user, "liquid") %></p>
<p>Total Net Worth: <%= net_worth(@user) %></p>
<p>Future Net Worth: <%= @user.future_net_worth if @user.future_net_worth %></p>
<p><%= render 'users/future_net_worth_form' %></p>
