<%= render 'resources/errors', object: @page_resource %>
<h1>New Transfer</h1>
<h3><%= @type_category %></h3>
<%= form_for @page_resource do |f| %>
  
  <!-- Type hidden -->
  <%= hidden_field_tag "transfer[type_id]", @type.id %>

  <%= f.label :amount, "Amount:" %>
  <%= form_amount(f) %>
  <br>
  <%= f.label :frequency, "Frequency:" %>
  <%= form_frequency(f) %>
  <br>
  <% if @type.id == 36 %>
    <%= f.label :liquid_asset_from_id, "From:" %>
    <%= form_select_liquid_asset(f, current_user, "liquid_asset_from_id") %>
    <br>
    <%= f.label :destination_id, "To:" %>
    <%= form_select_liquid_asset(f, current_user, "destination_id") %>
  <% else %>
    <%= f.label :liquid_asset_from_id, "From:" %>
    <%= form_select_primary_asset(f, current_user, "liquid_asset_from_id") %>
    <br>
    <%= f.label :destination_id, "To:" %>
    <%= form_select_debt(f, current_user) %>
  <% end %>
  <br>
  <%= f.label :next_date, "Next Payment Date:" %>
  <%= form_next_date(f) %>
  <br>
  <%= f.label :end_date, "End Date (optional):" %>
  <%= form_end_date(f) %>
  <br>
  <%= f.submit "Add Transfer" %>

<% end %>