<%= form_for @new_asset, url: process_depreciation_path do |f| %>
  Would you like to take into account that vehicles depreciate in value at an average rate of 15% anually?
  <table>
    <tr>
      <td><%= label_tag :depriciation, "Yes", value: "yes" %></td>
      <td><%= radio_button_tag :depreciation, "yes" %></td>
    </tr>
    <tr>
      <td><%= label_tag :depriciation, "No", value: "no" %></td>
      <td><%= radio_button_tag :depreciation, "no" %></td>
    </tr>
  </table>
  Or, enter custom rate:
  <br>
  <%= f.number_field :interest, value: nil, placeholder: "Custom Rate (%)", step: :any %>
  <br>
  <%= submit_tag "Next" %>
<% end %>