<%= render 'resources/assets/form_header' %>
<%= form_for @expense, url: process_vehicle_step_three_path do |f| %>
  <b>Vehicle Payment Details</b>
  <br>
  <%= f.label :amount, "Amount:" %>
  <%= form_amount(f) %>
  <br>
  <%= f.label :frequency, "Frequency:" %>
  <%= form_frequency(f) %>
  <br>
  <%= f.label :associated_asset_id, "Pay Using:" %>
  <%= form_select_primary_asset(f, current_user) %>
  <br>
  <%= f.label :next_billing_date, "Next Billing:" %>
  <%= form_next_date(f) %>
  <br>
  <%= f.label :discontinued, "End Date:" %>
  <%= form_discontinued(f) %>
<% end %>
<p><%= link_to "Back", vehicle_step_two_path %></p>