<h1><%= $resource.pluralize %></h1>
<table>
  <% table_columns = show_fields($new_resource) %>
  <tr>
  <% table_columns.each do |col| %>
    <th><%= col.capitalize.gsub('_id', "").gsub('_'," ").split.map(&:capitalize).join(' ') %></th>
  <% end %>
  </tr>
  <% @all.each do |resource| %>
    <tr>
    <% table_columns.each do |column| %>
      <% if resource.send(column).blank? %>
        <td>N/a</td>
      <% else %>
        <td><%= prep_data_for_table(resource, column) %></td>
      <% end %>
    <% end %>
    <td><%= link_to "edit", "/#{$resource_plural}/#{resource.id}/edit" %></td>
    <td><%= link_to "delete", "/#{$resource_plural}/#{resource.id}", method: :delete, data:{confirm: "Are you sure you would like to delete this item?"} %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Add #{$resource}", "/#{$resource_plural}/options" %>
<br><br>




