<!-- PUT BELOW CODE IN CONTROLLER INSTEAD??  -->
<%= hidden_field_tag "asset[type_id]", @type.id %>
<%= hidden_field_tag "asset[compound_frequency]", "Yearly" %>
<%= hidden_field_tag "asset[primary]", @page_resource.primary %>
<% if !is_liquid(@type).nil? %> 
  <%= hidden_field_tag "asset[liquid]", is_liquid(@type) %>
<% else %>
  <% @liquid_question = true %>
<% end %>

<%= render partial: "shared/form_section", locals: {form_object: f, label_for: :name, label_name: "Name", form_method: form_name(f, @type_category, @page_resource.name)} %>

<%= render partial: "shared/form_section", locals: {form_object: f, label_for: :amount, label_name: "Amount", form_method: form_amount(f)} %>

<% if @liquid_question == true %>
  <div class="form-group">
    <label class="col-md-3 control-label">Liquid?</label>
    <div class="col-md-9">
      <%= f.label :liquid, "Yes", value: "true" %>
      <%= f.radio_button :liquid, true %>
      <%= f.label :liquid, "No", value: "false", class: "right-radio" %>
      <%= f.radio_button :liquid, false %>
    </div>
  </div>
<% end %>

<%= render partial: "shared/form_section", locals: {form_object: f, label_for: :interest, label_name: "Estimated Rate of Appreciation", form_method: form_interest(f)} %>