<%= render 'resources/errors', object: @page_resource %>
<h1>New Asset</h1>
<h3><%= @type_category %></h3>
<%= form_for(@page_resource, url: @submit_path) do |f| %>

  <%= hidden_field_tag "asset[type_id]", @type.id %>
  <%= hidden_field_tag "asset[primary]", false %>
  <%# hidden_field_tag "type_snake", params[:type] %>

  <%= f.label :name, "Name:" %>
  <%= form_name(f, @type_category, (@page_resource.name || @type.name)) %>
  <br>
  <%= f.label :amount, "Value:" %>
  <%= form_amount(f) %>
  <br>
  <% if @type.resource_name == "Car" %>
    <%= f.label :interest, "Interest (optional):" %>
    <%= form_interest(f,) %>
    <br>
    <%= f.label :compound_frequency, "Compound Frequency:" %>
    <%= form_frequency(f, compound = true) %>
    <br>
  <% end %>
  <% if AssetsHelper::LIQUID_ASSET_TYPES.include?(@type) %>
    <%= hidden_field_tag "asset[liquid]", true %>
  <% elsif AssetsHelper::ILLIQUID_ASSET_TYPES.include?(@type) %>
    <%= hidden_field_tag "asset[liquid]", false %>
  <% else %>
    <% f.label "Liquid?" %>
    <br>
    <%= f.label :liquid, "Yes", value: "true" %>
    <%= f.radio_button :liquid, true %>
    <%= f.label :liquid, "No", value: "false" %>
    <%= f.radio_button :liquid, false %>
    <br>
  <% end %>
  <% if @type.name == "Vehicle" %>
    <label>Is this vehicle financed?</label>
    <br>
    <label value="true" for="financed_true">Yes</label>
    <input type="radio" name="financed" id="financed_true" value="true" <%= "checked" if @owed %> />
    <label value="false" for="financed_false">No</label>
    <input type="radio" name="financed" id="financed_false" value="false" <%= "checked" if @paid %> />
    <br>
  <% end %>
  <%= f.submit @button_text %>

<% end %>