<%= render 'resources/assets/form_header' %>
<%= form_for(@page_resource, url: @submit_path) do |f| %>

  <%# PUT BELOW CODE IN CONTROLLER INSTEAD %>
  <%= hidden_field_tag "asset[type_id]", @type.id %>
  <%= hidden_field_tag "asset[compound_frequency]", "Yearly" %>
  <%= hidden_field_tag "asset[primary]", @primary %>

  <%= f.label :name, "Name:" %>
  <%= form_name(f, @type_category, (@page_resource.name || @type.name)) %>
  <br>
  <%= f.label :amount, "Value:" %>
  <%= form_amount(f) %>
  <br>
  <!-- Put below functionality into helper method so that liquidity may be set in controller before opening form -->
  <% if AssetsHelper::LIQUID_ASSET_TYPES.include?(@type) %>
    <%= hidden_field_tag "asset[liquid]", true %>
  <% elsif AssetsHelper::ILLIQUID_ASSET_TYPES.include?(@type) %>
    <%= hidden_field_tag "asset[liquid]", false %>
  <% else %>
    <label>Liquid?</label>
    <br>
    <%= f.label :liquid, "Yes", value: "true" %>
    <%= f.radio_button :liquid, true %>
    <%= f.label :liquid, "No", value: "false" %>
    <%= f.radio_button :liquid, false %>
    <br>
  <% end %>
  <% if @type.name == "Vehicle" || @type.name == "Property"  %>
    <% if @type.name == "Vehicle" %>
      <label>Is this vehicle financed?</label>
    <% elsif  @type.name == "Property" %>
      <label>Are you currently paying a mortgage on this property?</label>
    <% end %>
    <br>
    <label value="true" for="financed_true">Yes</label>
    <input type="radio" name="financed" id="financed_true" value="true" <%= "checked" if @owed %> />
    <label value="false" for="financed_false">No</label>
    <input type="radio" name="financed" id="financed_false" value="false" <%= "checked" if @paid %> />
    <br>
    <% if @type.name == "Property" %>
      <label>Where is this property located? (optional)</label>
      <br>
      <%= render 'resources/assets/special_assets/state_select' %>
      <br>
      <label>Is this an income property?</label>
      <br>
      <label value="true" for="income_true">Yes</label>
      <input type="radio" name="income" id="income_true" value="true" <%= "checked" if @gain %> />
      <label value="false" for="income_false">No</label>
      <input type="radio" name="income" id="financed_false" value="false" <%= "checked" if @no_gain %> />
      <br>
    <% end %>
  <% else %>
    <%= f.label :interest, "Estimated rate of appreciation: " %>
    <br>
    <%= form_interest(f) %>
    <br>
  <% end %>
  <%= f.submit @button_text %>

<% end %>