<!DOCTYPE html>
<html>
  <head>
    <title>Finance Forecast</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/"><div class="logo"></div></a>
      <nav>
        <a href="#" title="User"><%= image_tag("new-user-icon.png", class: "user-icon") %></a>
        <a href="#" title="About"><%= image_tag("about-icon.png", class: "about-icon") %></a>
        <a href="#" title="Contact"><%= image_tag("contact-icon.png", class: "contact-icon") %></a>
        <a href="#" title="Main Menu" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="dropdown" >
          <%=image_tag("new-menu-icon.png", class: "menu-icon") %>
        </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <% ResourceName.all.each do |r| %>
              <%= link_to r.name.pluralize, "/#{r.table_name}", class: "dropdown-item" %>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Account', root_path %>
            <%= link_to 'Log Out', logout_path, method: :delete %>
          </div>
        </div>
      </nav>
    </header>

    <% flash.each do |message_type, message_array| %>
      <!-- <div class="alert alert-<%= message_type %>">
        <%# message %> 
      </div> -->
      <p><%= message_type.capitalize %>: </p>
      <ul>
        <% message_array.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <% flash.clear %>
    <div class="application-wrapper">
      <%= yield %>
    </div>
    <footer class="col-sm-12">

      <div class="footer-top col-sm-12"></div>

      <div class="footer-left col-sm-4"> 
        <h4><b>Navigation</b></h4>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Account</a></li>
        </ul>
        
      </div>

      <div class="footer-mid col-sm-4"> 
        <div class="footer-logo">
          <%= image_tag("logo-white.png") %>
        </div>
        <div class="footer-icons">
          <a href="#" title="Linkedin"><%= image_tag("linkedin-icon.png", class: "linkedin-icon") %></a>
          <a href="#" title="Github"><%= image_tag("github-icon.png", class: "github-icon") %></a>
        </div>
        <!-- <div class="footer-left-barrier"></div> -->
      </div>

      <div class="footer-right col-sm-4">
        <h4><b>Mission Statement</b></h4>
        <p class="footer-mission-statement">
          Finance Forecast aims to provide an easy to use platform that helps others to assess their current financial position and get on track to a successful financial future
        </p>
        <!-- <div class="footer-left-barrier"></div> -->
      </div>
      <div class="footer-bottom col-sm-12">
        <p class="footer-company-name">Finance Forecast &copy; 2017</p>
      </div>
    </footer>
  </body>
</html>
