<!DOCTYPE html>
<html>
  <head>
    <title>Finance Forecast</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message_array| %>
      <!-- <div class="alert alert-<%= message_type %>">
        <%# message %> 
      </div> -->
      <p><%= message_type.capitalize %>: </p>
      <ul>
        <% message_array.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <% flash.clear %>
    <%= yield %>
    <br>
    <br>
    <footer>
      <% if logged_in? %>
        <%= link_to "Home", root_path %> | <%= link_to "Log Out", logout_path, method: :delete %>
      <% end %>
    </footer>
  </body>
</html>
